In [2]:
import numpy as np
import pandas as pd

# College.csv

1. Use pd.read_csv to read College.csv in datasets folder. Don't forget to rename the first column!

In [3]:
data= pd.read_csv("../data/College.csv")
data.rename(columns={'Unnamed: 0':'đổi tên mới'}, inplace=True)
data

,đổi tên mới,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,Abilene Christian University,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Adelphi University,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Adrian College,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
772,Worcester State College,No,2197,1515,543,4,26,3089,2029,6797,3900,500,1200,60,60,21.0,14,4469,40
773,Xavier University,Yes,1959,1805,695,24,47,2849,1107,11520,4960,600,1250,73,75,13.3,31,9189,83
774,Xavier University of Louisiana,Yes,2097,1915,695,34,61,2793,166,6900,4200,617,781,67,75,14.4,20,8323,49
775,Yale University,Yes,10705,2453,1317,95,99,5217,83,19840,6510,630,2115,96,96,5.8,49,40386,99
776,York College of Pennsylvania,Yes,2989,1855,691,28,63,2988,1726,4990,3560,500,1250,75,75,18.1,28,4509,99

2. Get a summary info for the dataframe using .describe() method

In [22]:
desc = data.describe() 
desc
# https://www.geeksforgeeks.org/python-pandas-dataframe-describe-method/

,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
count,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.00000
mean,3001.638353,2018.804376,779.972973,27.558559,55.796654,3699.907336,855.298584,10440.669241,4357.526384,549.380952,1340.642214,72.660232,79.702703,14.089704,22.743887,9660.171171,65.46332
std,3870.201484,2451.113971,929.176190,17.640364,19.804778,4850.420531,1522.431887,4023.016484,1096.696416,165.105360,677.071454,16.328155,14.722359,3.958349,12.391801,5221.768440,17.17771
min,81.000000,72.000000,35.000000,1.000000,9.000000,139.000000,1.000000,2340.000000,1780.000000,96.000000,250.000000,8.000000,24.000000,2.500000,0.000000,3186.000000,10.00000
25%,776.000000,604.000000,242.000000,15.000000,41.000000,992.000000,95.000000,7320.000000,3597.000000,470.000000,850.000000,62.000000,71.000000,11.500000,13.000000,6751.000000,53.00000
50%,1558.000000,1110.000000,434.000000,23.000000,54.000000,1707.000000,353.000000,9990.000000,4200.000000,500.000000,1200.000000,75.000000,82.000000,13.600000,21.000000,8377.000000,65.00000
75%,3624.000000,2424.000000,902.000000,35.000000,69.000000,4005.000000,967.000000,12925.000000,5050.000000,600.000000,1700.000000,85.000000,92.000000,16.500000,31.000000,10830.000000,78.00000
max,48094.000000,26330.000000,6392.000000,96.000000,100.000000,31643.000000,21836.000000,21700.000000,8124.000000,2340.000000,6800.000000,103.000000,100.000000,39.800000,64.000000,56233.000000,118.00000

3. Create a dataframe contains 50 **private** institutions with the **highest enrollment**

In [29]:
data = data.sort_values('Enroll',ascending=False)
p=data[data.Private=='Yes']
h=p[['Private','Enroll']][:50]
h

    Private  Enroll
69      Yes    4615
59      Yes    3810
614     Yes    3252
418     Yes    2517
407     Yes    2505
677     Yes    2477
663     Yes    2464
576     Yes    2442
39      Yes    2367
345     Yes    2007
660     Yes    1906
424     Yes    1902
344     Yes    1685
636     Yes    1643
250     Yes    1606
174     Yes    1583
440     Yes    1522
613     Yes    1507
708     Yes    1499
219     Yes    1492
710     Yes    1477
70      Yes    1462
245     Yes    1433
221     Yes    1390
278     Yes    1368
257     Yes    1349
775     Yes    1317
728     Yes    1254
669     Yes    1243
191     Yes    1236
597     Yes    1223
66      Yes    1202
583     Yes    1195
621     Yes    1194
87      Yes    1191
534     Yes    1166
459     Yes    1153
309     Yes    1092
158     Yes    1087
354     Yes    1078
63      Yes    1061
518     Yes    1000
460     Yes     973
189     Yes     958
497     Yes     956
205     Yes     942
471     Yes     936
609     Yes     922
276     Yes     913
80      Yes     913

4. For the above 50 institutions, create a dataframe contains mean and max value for each numeric variable

In [34]:
h.mean()
h.max()

Private     Yes
Enroll     4615
dtype: object